*{
    box-sizing: border-box;
}
.main{
    padding: 20px;
    text-align: center;
    width: 400px;
    height: 300px;
    border: 8px solid black;
    background-color: white;
}
button{
    border-radius: 8px;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
}